body {
    margin: 0 !important;
    padding: 0px;
    font-family: PT Sans;
}

#bp_step_params {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 7;
    width: 600px;
    height: 100vh;
    background: #fdfdfd;
    box-shadow: -4px 0 4px #bebebe1f;
    border-left: 1px solid #ddd;
    transition: width .15s linear,opacity .2s linear;
    overflow: hidden;
    font-size: 14px;
}

.step__header {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 20px 16px;
    font-size: 16px;
}

.step__body {
    border-top: 1px solid #d4d5d8;
    position: relative;
    height: calc(100vh - 64px);
}

.condition-wrapper {
    overflow: auto;
}

.step-params-inner {
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    padding: 15px;
}

.step-descripion {
    line-height: 1.5;
}

.step-descripion h1 {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.step-descripion h2 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 16px;

}

.step-descripion ul {
    position: relative;
    padding-inline-start: 25px;
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 5px;
    margin-bottom: 10px;
}

.step-descripion ol {
    position: relative;
    padding-inline-start: 25px;
    list-style-position: outside;
    margin-top: 5px;
    margin-bottom: 10px;
}

.step-descripion li {
    position: relative;
    padding-left: 5px;
}

.step-descripion p {
    margin-top: 10px;
    margin-bottom: 8px;
}

.step-descripion a, a:visited {
    color: #4C8BF7;
    text-decoration: underline;
}

.step-descripion a:hover {
    color: #4077D6;
}

.step-descripion blockquote {
    position: relative;
    width: fit-content;
    padding: 15px;
    background: #eee;
    border-radius: 8px;
    margin: 0;
}

.step-descripion blockquote::before {
    content: '«';
}
.step-descripion blockquote::after {
    content: '»';
}

.step-descripion img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    border-radius: 8px;
    max-height: 600px;
    background-size: cover;
}

.imgTitle {
    font-size: 12px;
    padding: 0px 5px;
}

.step-alert {
    display: inline-block;
    position: relative;
    padding: 15px 15px 15px 45px;
    background: #eee;
    border-radius: 8px;
    margin: 0;
    gap: 8px;
}

.step-alert:before {
    content: '!';
    position: absolute;
    left: 15px;
    font-size: 12px;
    display: flex;
    color: #fff;
    width: 18px;
    height: 18px;
    background-color: #F92D00;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.step-descripion code {
    display: inline-flex;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    background: #eee;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 100%;
    flex-direction: column;
}

.hljs-css {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
}

.hljs-title {
    color: #000080;
    font-weight: normal;
}
.hljs-title::before {
    content: '<';
}
.hljs-title::after {
    content: '>';
}

.hljs-class::after {
    content: ' {';
}
.hljs-rules {
    padding-left: 20px;
    width: fit-content;
}
.hljs-rules::after {
    content: ';';
}
.hljs-attribute, .hljs-number, .hljs-hexcolor {
    color: #008080;
}